# macOS
.DS_Store

# Xcode user data
*.xcuserstate
*.xcuserdata

# Build products
DerivedData/
build/

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
